<header th:fragment="header" class="header">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/projects}">Projects</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/blog}">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
    </ul>
</header>
