body {
    background-color: #0c1016;
    font-family: "Play", sans-serif;
    font-weight: bold;
}

.header {
    background-color: #0c1016;
    height: 60px;

}

.nav-link {
    color: greenyellow;
    position: relative;
    top: 10px;
    right: 70px;
}

.nav-link:hover {
    color: wheat;
}

.introduction-section {
    width: 1920px;
    height: 1000px;
    padding: 200px 0;
    padding-left: 400px;
}


.box-text-introduction {
    width: 1200px; 
    height: 400px;
    padding: 40px;
    border-radius: 5px;
}

#txt-box-introduction {
    text-align: left;
    color: wheat
}

.button {
    border-radius: 3px;
    border-color: greenyellow;
    background-color: transparent;
    text-align: center;
    width: 180px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 8px;
    margin-left: 10px;
}

#button-txt {
    color: greenyellow;
}

button:hover {
    background-color: #182630
}

.aboutme-section {
    width: 1920px;
    height: 1000px;
    padding: 100px 0;
    text-align: center;
    color: wheat;
    padding-right: 300px;
    padding-left: 300px;
    background-color: #1f242a;
}

#big-text {
    margin-top: 22px;
}

#title-about {
    color: wheat;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: greenyellow;
}

.flex-container {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}

.flex-container>div {
    background-color: #1f242a;
    width: 300px;
    height: 400px;
    margin: 25px;
    text-align: center;
    border: 2px solid greenyellow;
    border-radius: 5px;
    align-items: center;
    justify-content: center
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    max-width: 100%;
    height: 180px;
}

#img-lua {
    padding-right: 10px;
}

#txt-flex {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.footer-section {
    background-color: #0c1016;
    padding: 20px;
    text-align: center;
    color: greenyellow;
}

.fa {
    padding: 20px;
    width: 50px;
    text-decoration: none;
    margin: 1px 8px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-youtube {
    color: greenyellow;
}

.fa-youtube:hover {
    background: #bb0000;
}

.fa-linkedin {
    color: greenyellow;
}

.fa-linkedin:hover {
    background: #007bb5;
}

.section {
    width: 1920px;
    height: 1000px;
}

.container-projects {
    margin-top: 40px;
    max-width: 100%;
    max-height: 100vh;
    padding: 20px; 
    position: relative;
    left: 120px;
}

.card {
    width: 400px;
    height: 480px;
    margin: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#cards {
    border-radius: 20px;
    border: 2px solid greenyellow;
    background-color: #0c1016;
    color: wheat;
}

.card-img-top {
    max-width: 70%;
    max-height: 70%;
    border-radius: 10px;
}

#donation {
    margin-top: 15px;
}

#homepage {
    margin-top: 3px;
}

#lua {
    margin-top: 20px;
    max-width: 50%;
    max-height: 50%;
}

.btn {
    margin-bottom: 15px;
    border-radius: 8px;
    border-color: greenyellow;
    color: greenyellow;
    text-align: center;
    width: 130px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn:hover {
    color: #0c1016;
    background-color: wheat;
    border-color: greenyellow
}

.text-projects {
    position: relative;
    top: 50px;
    text-align: center;
    color: wheat;
    font-weight: bold;
    font-size: 24px;
    padding-left: 160px;
    padding-right: 160px;
}

#link-blog {
    text-decoration: underline;
    text-decoration-color: greenyellow;
    color: wheat;
}

#link-blog:hover {
    color: greenyellow;
}

.section-table {
    overflow: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-left: 250px;
    position: relative;
    top: 150px;
    left: 650px;
    overflow: auto
  }

.table-section {
    width: 800px;  /* Largura fixa */
    height: 300px; /* Altura fixa */
    overflow: auto; /* Ativa rolagem automática quando necessário */
    border: 1px solid #b41717; /* Bordas para visualização */
    background-color: aliceblue;
}

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

